<% if logged_in? %>
<a style="color:white;font-size:20px;padding-left:20px;" href="/admin"> Back </a>


<div class="new_div">
	<ul>
	<%= form_for @film, :url => films_path, :html => { :multipart => true } do |f| %>
	  <%= f.file_field :avatar %>
	  <li><%= f.label("Title") %></li>
	  <%= f.text_field :title %>
	  <li><%= f.label("Description") %></li>
	  <%= f.text_field :description %>
	  <li><%= f.label("Video Link") %></li>
	  <%= f.text_field :video_link %>
	  <li><%= f.submit %></li>
	<% end %>	
	</ul>

</div>

<% else %>

<p>You must be an administrator to access this page, please return to the home site. </p>

<% end %>
